ARBITRUM_RPC_URL=
ETHEREUM_RPC_URL=
ZKSYNC_RPC_URL=
OPTIMISM_RPC_URL=
LINEA_RPC_URL=
SCROLL_RPC_URL=

OWNER=0xCc2ACDd7eF3e9841d42E00199D4cF5bcdCa77a7e

DEPLOYER_PRIVATE_KEY=

ETHEREUM_CHAIN_ID=

# Arbitrum Envs
ARBITRUM_CHAIN_ID=
ARBITRUM_OUTBOX=
ARBITRUM_ROOTS_SLOT=

#Linea Envs
LINEA_CHAIN_ID=
LINEA_ROLLUP=
LINEA_STATE_ROOT_HASHES_SLOT=
LINEA_L2_MESSAGE_SERVICE=

# Scroll Envs
SCROLL_CHAIN_ID=
SCROLL_CHAIN_SEPOLIA=
SCROLL_FINALIZED_STATE_ROOT_SLOT=
SCROLL_L1_SCROLL_MESSENGER=
SCROLL_L2_SCROLL_MESSENGER=

# Optimism Envs
OPTIMISM_CHAIN_ID=
OPTIMISM_ANCHOR_GAME_SLOT=
OPTIMISM_ANCHOR_STATE_REGISTRY=
OPTIMISM_L1_CROSS_DOMAIN_MESSENGER_PROXY=
OPTIMISM_L2_CROSS_DOMAIN_MESSENGER=

# ZkSync Envs
ZKSYNC_CHAIN_ID=
ZKSYNC_DIAMOND=
ZKSYNC_GATEWAY_ZK_CHAIN=
ZKSYNC_L2_LOGS_ROOT_HASH_SLOT=
ZKSYNC_GATEWAY_CHAIN_ID=



