ARBITRUM_RPC_URL=
ETHEREUM_RPC_URL=
ZKSYNC_RPC_URL=
OPTIMISM_RPC_URL=
LINEA_RPC_URL=
SCROLL_RPC_URL=

OWNER=0xCc2ACDd7eF3e9841d42E00199D4cF5bcdCa77a7e

DEPLOYER_PRIVATE_KEY=

ETHEREUM_CHAIN_ID=

# Arbitrum Envs
ARBITRUM_CHAIN_ID=
ARBITRUM_OUTBOX=
ARBITRUM_ROOTS_SLOT=

#Linea Envs
LINEA_CHAIN_ID=59141
LINEA_ROLLUP=0xB218f8A4Bc926cF1cA7b3423c154a0D627Bdb7E5
LINEA_STATE_ROOT_HASHES_SLOT=282
LINEA_L2_MESSAGE_SERVICE=0x971e727e956690b9957be6d51Ec16E73AcAC83A7

# Scroll Envs
SCROLL_CHAIN_ID=534351
SCROLL_CHAIN=0x2D567EcE699Eabe5afCd141eDB7A4f2D0D6ce8a0
SCROLL_FINALIZED_STATE_ROOT_SLOT=158
L1_SCROLL_MESSENGER=0x50c7d3e7f7c656493D1D76aaa1a836CedfCBB16A
L2_SCROLL_MESSENGER=0xBa50f5340FB9F3Bd074bD638c9BE13eCB36E603d

# Optimism Envs
OPTIMISM_CHAIN_ID=11155420
OPTIMISM_ANCHOR_GAME_SLOT=2
OPTIMISM_ANCHOR_STATE_REGISTRY=0xa1Cec548926eb5d69aa3B7B57d371EdBdD03e64b
OPTIMISM_L1_CROSS_DOMAIN_MESSENGER_PROXY=0x58Cc85b8D04EA49cC6DBd3CbFFd00B4B8D6cb3ef
OPTIMISM_L2_CROSS_DOMAIN_MESSENGER=0x4200000000000000000000000000000000000007

# ZkSync Envs
ZKSYNC_CHAIN_ID=300
ZKSYNC_DIAMOND=0x9A6DE0f62Aa270A8bCB1e2610078650D539B1Ef9
ZKSYNC_GATEWAY_ZK_CHAIN=0xFFDbb7B7F35A8b81618F64d95BCc878297759744
ZKSYNC_L2_LOGS_ROOT_HASH_SLOT=15
ZKSYNC_GATEWAY_CHAIN_ID=32657



